@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$font-family-sans-serif : 'Raleway', sans-serif;

$primary : hsl(238, 22%, 44%);
$info : hsl(224, 93%, 58%);
$white : hsl(240, 75%, 98%);
$success : hsl(170, 45%, 43%);
$secondary : hsl(0, 0%, 75%);
$dark : hsl(243, 87%, 12%);

$btn-padding-x: 3rem;
$btn-padding-x: 2rem;

$navbar-padding-y : 2rem;
$navbar-nav-link-padding-x : 1rem;

@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/@fortawesome/fontawesome-free/css/all.min.css";

a{
  text-decoration: none !important;
}

i{
  width: 40px;
  height: 40px;
}

a:hover, i:hover {
  color: $primary !important;
  border-color: $primary !important;
  cursor: pointer;
  animation-duration: 3s;
}

.avatar {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 376px ) {
  h2{
    font-size: 19px !important;
    font-weight: bolder !important;
  }
  p{
    font-size: 13px !important;
  }
}


@media screen and (min-width: 768px ) {
  .h-vh{
    height: 100vh !important;
  }
}